body {
  background-image: url(../image/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.box {
  display: -webkit-flex; /* Safari */
  display: flex;
}

.menu-title {
  filter: alpha(opacity=80);
  text-align: center;
  border: 2px solid #a1a1a1;
  background: #a1a1a1;
  width: 80%;
  border-radius: 25px;
  -moz-border-radius: 25px;
  margin-top: 10%;
  margin-left: 10%;
  color: white;
  font-size: 30px;
}

.menu-desc {
  background-color: ghostwhite;
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
}

.menu-desc img {
  width: 30%;
  height: auto;
  margin: 5%;
}

.menu-desc p {
  font-size: 30px;
}